USE [master]
GO
/****** Object:  Database [BDEstudiantes]    Script Date: 03/31/2016 16:05:03 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'BDEstudiantes')
BEGIN
CREATE DATABASE [BDEstudiantes] ON  PRIMARY 
( NAME = N'BDEstudiantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\BDEstudiantes.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDEstudiantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\BDEstudiantes_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDEstudiantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDEstudiantes]
GO
/****** Object:  ForeignKey [FK_TBEstudiantes_TBUsuarios]    Script Date: 03/31/2016 16:05:05 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBEstudiantes_TBUsuarios]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBEstudiantes]'))
ALTER TABLE [dbo].[TBEstudiantes] DROP CONSTRAINT [FK_TBEstudiantes_TBUsuarios]
GO
/****** Object:  Table [dbo].[TBEstudiantes]    Script Date: 03/31/2016 16:05:05 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBEstudiantes_TBUsuarios]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBEstudiantes]'))
ALTER TABLE [dbo].[TBEstudiantes] DROP CONSTRAINT [FK_TBEstudiantes_TBUsuarios]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBEstudiantes]') AND type in (N'U'))
DROP TABLE [dbo].[TBEstudiantes]
GO
/****** Object:  Table [dbo].[TBUsuarios]    Script Date: 03/31/2016 16:05:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBUsuarios]') AND type in (N'U'))
DROP TABLE [dbo].[TBUsuarios]
GO
/****** Object:  User [admEstudiantes]    Script Date: 03/31/2016 16:05:03 ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'admEstudiantes')
DROP USER [admEstudiantes]
GO
/****** Object:  User [admEstudiantes]    Script Date: 03/31/2016 16:05:03 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'admEstudiantes')
CREATE USER [admEstudiantes] FOR LOGIN [admEstudiantes] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TBUsuarios]    Script Date: 03/31/2016 16:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBUsuarios]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBUsuarios](
	[codigo] [nvarchar](10) NOT NULL,
	[clave] [nvarchar](10) NOT NULL,
	[perfil] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBUsuarios] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[TBUsuarios] ([codigo], [clave], [perfil]) VALUES (N'diego', N'123', N'admEstudiante')
/****** Object:  Table [dbo].[TBEstudiantes]    Script Date: 03/31/2016 16:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBEstudiantes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBEstudiantes](
	[idEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido1] [nvarchar](50) NOT NULL,
	[apellido2] [nvarchar](50) NOT NULL,
	[cedula] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[direccion] [nvarchar](150) NOT NULL,
	[foto] [varchar](max) NULL,
	[codigo] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TBEstudiantes] PRIMARY KEY CLUSTERED 
(
	[idEstudiante] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBEstudiantes] ON
INSERT [dbo].[TBEstudiantes] ([idEstudiante], [nombre], [apellido1], [apellido2], [cedula], [email], [direccion], [foto], [codigo]) VALUES (1, N'diego', N'garro', N'fonseca', 115880687, N'diego@gmail.com', N'Puntarenas', NULL, N'diego')
SET IDENTITY_INSERT [dbo].[TBEstudiantes] OFF
/****** Object:  ForeignKey [FK_TBEstudiantes_TBUsuarios]    Script Date: 03/31/2016 16:05:05 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBEstudiantes_TBUsuarios]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBEstudiantes]'))
ALTER TABLE [dbo].[TBEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_TBEstudiantes_TBUsuarios] FOREIGN KEY([codigo])
REFERENCES [dbo].[TBUsuarios] ([codigo])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TBEstudiantes_TBUsuarios]') AND parent_object_id = OBJECT_ID(N'[dbo].[TBEstudiantes]'))
ALTER TABLE [dbo].[TBEstudiantes] CHECK CONSTRAINT [FK_TBEstudiantes_TBUsuarios]
GO
